body{
    background-color:rgb(235, 27, 27);
    
}

section{
    background-color: white;
    border-radius: 5pt;
    margin: auto;
    padding: 10pt;
    height: 200pt;
    height: auto;
    width: 400pt;
    box-shadow: 5pt 5pt 10pt rgba(0, 0, 0, 0.5);
    text-align: center;

}
h1{
    text-align: center;
    color: white;
}

img{
    
    padding: 5pt;
    
}